* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    background: linear-gradient(to bottom, #d3d1e0, #4e4c5a);
    /* fundo semelhante ao da imagem */
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.cabecalho img {
    display: flex;
    align-self: flex-start;
}

.container {
    width: 600px;
    padding: 25px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.container h1 {
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
    color: #333;
}

.conteudo_formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.conteudo_formulario label,
.botaoRedeSocial p {
    font-weight: 500;
    font-size: 16px;
    color: #333;
}

.conteudo_formulario input[type="text"],
.conteudo_formulario input[type="email"],
.conteudo_formulario input[type="file"],
.conteudo_formulario textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 16px;
    background-color: #f1f1f1;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    font-size: 14px;
}

.conteudo_formulario textarea {
    resize: vertical;
}

.conteudo_formulario input[type="submit"],
.botaoRedeSocial button {
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    font-size: 14px;
}

.botaoRedeSocial button {
    background-color: #333;
    color: white;
    width: 100%;
}

.botaoRedeSocial button:hover {
    background-color: #1e1e1e;
}

.conteudo_formulario input[type="submit"] {
    background-color: #333;
    color: white;
    width: 100%;
}

.conteudo_formulario input[type="submit"]:hover {
    background-color: #1e1e1e;
}